* {
    box-sizing: border-box;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    color: #ffffff;
}

.navbar {
    background-color: #2a607c;
    color: #ffffff;
}
.navbar-brand {
    display: block;
}

.seo {
    color: #d9dcd6;
}

.nav-item .nav-link {
    float: right;
}

.nav-link {
    color: #d9dcd6;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.content-item {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    justify-content: center;
}

.content-item h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

.content-item img {
    max-height: 200px;
    max-width: 450px;
}

p {
    font-size: 18px;
}

.benefits {
    clear: both;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.benefit-item {
    padding: 0px 10px 0px 10px;
    background: #2589bd;
}
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}